{% extends "/my_page/profile-base.html.twig" %}

{% block fos_user_content %}
<div class="sw-Content_PaddingMy">
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
</div>
{% endblock fos_user_content %}
