.post-Show {

}
.post-Show_Inner {

}
.post-Show_Movie {
    margin: 0 auto;
}
.post-Show_Title {
    @include font-size(26px);
    font-weight: bold;
    margin: 0 auto 10px;
    padding: 0 15px;
    @include media-breakpoint-down(sm) {
      @include font-size(21px);
      padding: 0;
  }
}
.post-Show_Content {
  border-top: 1px solid #333;
    @include font-size(13px);
    line-height: 1.6;
    padding: 15px 15px 0;
    word-break: break-word;
    position: relative;
    margin: 0 auto 20px;
    @include media-breakpoint-down(sm) {
      padding: 15px 0 0;
  }
}

  .post-Show_Content + .post-Show_Content {
    margin-top: 40px;
  }
  .post-Show_Content-trigger {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    border-radius: 2px;
    text-align: center;
    color: #007bff;
    @include font-size(14px);
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
  }

  .post-Show_Content_Inner {
    position: relative;
    overflow: hidden;
  }
  .post-Show_Content_Inner.is-hide {
    height: 100px; /*隠した後の高さ*/
  }
  .post-Show_Content_Inner p + p {
    margin-top: 1em;
  }

  .post-Show_Content-trigger.is-show + .post-Show_Content_Inner::before {
    display: none;
  }

  .post-Show_Next {
    padding: 10px 0 20px;
    border-bottom: 1px solid #333;
    margin: 0 auto 20px
  }
  .post-Show_NextTitle {
    @include font-size(14px);
    margin: 0 auto 10px;
  }
  .post-Show_NextInner {
    width: 100%;
  }
  .post-Show_NextImg {
    width: 40%;
    img {
      max-width: 100%;
      margin: 0 auto;
      vertical-align: bottom;
    }
  }
  .post-Show_NextContent {
    width: 57%;
  }
  .post-Show_NextContent-title {
    @include font-size(15px)
  }
  .post-Show_NextContent-category {
    color: rgba(255, 255, 255, 0.4);
    height: 14px;
    @include font-size(12px);
    margin-bottom: 4px;
    margin-right: 16px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post-Show_NextLink {
    width: 100%;
    display: flex;
    justify-content: space-between;  
    font-weight: normal;
  }
