.post-Show {

}
.post-Show_Inner {

}
.post-Show_Movie {
    margin: 0 auto;
}
.post-Show_Title {
    @include font-size(26px);
    font-weight: bold;
    margin: 0 auto 10px;
    padding: 0 15px;
}
.post-Show_Content {
  border-top: 1px solid #333;
    @include font-size(13px);
    line-height: 1.6;
    padding: 15px 15px 0;
    word-break: break-word;
    position: relative;
    margin: 0 auto 20px;
}
.post-Show_Movie-pc {
    @include media-breakpoint-down(sm) {
       display: none;
    }
}
.post-Show_Movie-sp {
    @include media-breakpoint-up(sm) {
        display: none;
     }
}

  .post-Show_Content + .post-Show_Content {
    margin-top: 40px;
  }
  .post-Show_Content-trigger {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    border-radius: 2px;
    text-align: center;
    color: #007bff;
    @include font-size(14px);
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
  }

  .post-Show_Content_Inner {
    position: relative;
    overflow: hidden;
  }
  .post-Show_Content_Inner.is-hide {
    height: 100px; /*隠した後の高さ*/
  }
  .post-Show_Content_Inner p + p {
    margin-top: 1em;
  }

  .post-Show_Content-trigger.is-show + .post-Show_Content_Inner::before {
    display: none;
  }