{% extends "/my_page/profile-base.html.twig" %}

{% block fos_user_content %}
<div class="sw-Content_PaddingMy">
    <div class="mypage-Profile">
        <div class="mypage-Profile_Form">
            {% include "@FOSUser/Profile/edit_content.html.twig" %}
        </div>
    </div>
</div>
{% endblock fos_user_content %}
