{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <table class="mypage-Profile_Table">
        <tr>
            <td>{{ 'profile.show.username'|trans }}</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>{{ 'profile.show.email'|trans }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div>
