{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class=" mypage-Login">
    <h1 class="mypage-Login_Title">ログイン</h1>
    <div class="mypage-Login_Form">
    {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
