.sw-Footer {
    overflow: hidden;
}
.sw-Footer_TopLink {
    display: block;
    color: #fff;
    @include font-size(12px);
    padding: 8px 0;
    margin: 0;
    text-align: center;
    background: #37475A;
    span {
        @include rotate(-45deg);
    }
    &:hover {
        text-decoration: none;
        color: #fff;
        opacity: 0.8;
    }
}
.sw-Footer_Inner {
    max-width: $size__site-content;
    width: 100%;
    padding: 0 0 30px;
    margin: 0 auto;
}
.sw-Footer_Items {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}
.sw-Footer_Item {
    a {
        @include font-size(14px);
    }
}
.sw-Footer_ItemTitle {
    @include font-size(18px);
}
.sw-Footer_ItemLists {
    padding: 0 0 0 20px;
}
.sw-Footer_ItemList {
    
}
.sw-Footer_Copy {
    margin: 30px auto 0;
    padding: 10px 0 0;
    border-top: 1px solid #ccc;
    small {

    }
}