.sw-Header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: -webkit-linear-gradient(top, rgba(34,34,34,1) 0%, rgba(34,34,34,0.9) 30%, rgba(34,34,34,0.5) 60%, transparent 100%);
    background: linear-gradient(top, rgba(34,34,34,1) 0%, rgba(34,34,34,0.9) 30%, rgba(34,34,34,0.5) 60%, transparent 100%);
}
.sw-Header_Inner {
    width: $size__site-main;
    margin: 0 auto;
    padding: 0 15px;
}
.sw-Header_Lead {
    @include font-size(12px);
    margin: 0 auto;
    padding: 0;
    letter-spacing: 2px;
}
.sw-Header_Branding {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 10px;
    align-items: center;
}
.sw-Header_MainNavOuter {

}
.sw-Header_MainNav {

}
.sw-Header_MainNavInner {

}
.sw-Header_Logo {
    padding: 0 0 0 30px;
    @include media-breakpoint-down(sm) {
    }
}
.sw-Header_LogoMark {
    @include font-size(20px);
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
}
.sw-Header_MainNavItems {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
}
.sw-Header_MainNavItem {
    a {
        display: block;
        margin: 0 0 0 15px;
        text-align: center;
        @include font-size(12px);
        i {
            @include font-size(16px);
        }
    }
}