.sw-Side {
    transition-duration: 0.2s;
    max-width: 100%;
    width: 300px;
    height: 100vh;
    padding: 20px 0 0;
    // background: rgba(255, 255, 255, 0.1);
    background-color: black;
    margin: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    position: fixed;
    z-index: 10;
    top: 45px;
    @include media-breakpoint-down(sm) {
        width: $size__site-side;
    }
}
aside.sw-Side.open {
    width: 300px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
.sw-Side_Inner {
    height: 100vh;
    color: rgba(255, 255, 255, 0.88);
    @include media-breakpoint-down(sm) {
    }
}
.sw-Side_Keyword {

}
.sw-Side_KeywordTitle {
    @include font-size(14px);
    margin: 0 auto 10px;
    padding: 0 0 0 30px;
}
.sw-Side_KeywordItems {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.sw-Side_KeywordItem {

}
.sw-Side_KeywordItemTitle {
    @include font-size(14px);
    margin: 0 auto 10px;
    padding: 0 0 0 30px;
}
.sw-Side_KeywordLists {
    margin: 0 auto 20px;
    padding: 0;
    list-style-type: none;
}

.sw-Side_Items {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.sw-Side_Item {

}
.sw-Side_ItemTitle {
    @include font-size(14px);
    margin: 0 auto 10px;
    padding: 0 0 0 30px;
}
.sw-Side_ItemLists {
    list-style-type: none;
    margin: 0 auto 20px;
    padding: 0;
}
.sw-Side_ItemList {
    a {
        display: block;
        padding: 10px 0 10px 30px;
        @include font-size(13px);
        color: rgba(255, 255, 255, 0.88);
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}
.sw-Side_ItemList--arrow {
    background: url(../../../public/images/right-arrow@2x.png) no-repeat center right 30px;
    background-size: 10px;
    @include media-breakpoint-down(sm) {
        
    }
}