.sw-Static {

}
.sw-Static_Title {
    @include font-size(22px);
    padding: 10px 0 0;
}
.sw-Static_Content {
    padding: 10px 0;
    h2 {
        @include font-size(20px);
    }
    ol {
        li {
            margin: 10px auto 0;
        }
    }
    ul {

    }
    p {
        @include font-size(14px);
    }
}