body {
    background-color: #29323c;
}
    
.sw-Body {
    background-color: #29323c;
    color: #fff;
    // background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    background-image: linear-gradient(to top, #29323c 0%, #222 50%);
    // background-image: linear-gradient(to top, #09203f 50%, #537895 100%);
}
