<form method="post" action="{{ path('admin_my_event_venue_delete', {'id': my_event_venue.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ my_event_venue.id) }}">
    <button class="btn">Delete</button>
</form>
