{% extends 'admin/base.html.twig' %}

{% block title %}イベント会場編集 | {{ admin_name }}{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item active">イベント会場編集</li>
 {% endblock %}

{% block content %}
    <h1>イベント会場編集</h1>

    {{ include('admin/my_event_venue/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_my_event_venue_index') }}">back to list</a>

    {{ include('admin/my_event_venue/_delete_form.html.twig') }}
{% endblock %}
