{% extends "@FOSUser/layout.html.twig" %}

{% block head %}
    <title>無料新規登録｜video-blogger</title>
    <meta name="description" content="video-blogger新規登録ページ">
{% endblock %}

{% block fos_user_content %}
<div class=" mypage-Login">
    <h1 class="mypage-Login_Title">無料で会員登録</h1>
    <div class="mypage-Login_Form">
{% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
    <a href="{{ path('fos_user_security_login') }}" class="mypage-Login_Registration-link">ログインはこちら</a>
</div>
{% endblock fos_user_content %}
