{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="registration-Area">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <a href="{{ path("default_index") }}">トップへ戻る</a>
</div>
{% endblock fos_user_content %}
