{% extends "base.html.twig" %}

{% block head %}
   <title>vlogトップ</title>
   <meta name="description" content="">
   <link rel="canonical" href="">
{% endblock %}

{% block stylesheet %}
   {{ parent() }}
   <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}

{% block main %}
{% include 'parts/top_post.html.twig' %}
<div class="sw-Content_Inner sw-Content_PaddingLg">
   <section class="sw-Section">
      {% include 'parts/new_post.html.twig' %}
      {% include 'parts/category_post.html.twig' %}
   </section>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}