{% extends "base.html.twig" %}

{% set title = 'vlogトップ' %}
{% set description = '' %}
{% set canonical = 'canonical' %}


{% block main %}
<section class="sw-Section">
   <div id="js-Post"></div>
</section>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}