{% extends "base.html.twig" %}

{% block head %}
   <title>vlogトップ</title>
   <meta name="description" content="">
   <link rel="canonical" href="">
{% endblock %}

{% block stylesheet %}
   {{ parent() }}
   <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}

{% block main %}
<section class="sw-Section">
   {% include 'parts/new_post.html.twig' %}
   {% include 'parts/category_post.html.twig' %}
</section>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}