{% extends "base.html.twig" %}

{% block head %}
   <title>vlogトップ</title>
   <meta name="description" content="">
   <link rel="canonical" href="">
{% endblock %}

{% block stylesheet %}
   {{ parent() }}
   <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}

{% block main %}
{% include 'parts/top_post.html.twig' %}
<div class="sw-Content_Inner sw-Content_PaddingLg">
   <section class="sw-Section">
      {% include 'parts/new_post.html.twig' %}
      {% include 'parts/category_post.html.twig' %}
   </section>
   <!-- モーダルの設定 -->
   <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title sw-Modal_Title" id="exampleModalCenterTitle">お気に入り機能を使うに会員登録が必要です</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
               <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">閉じる</button>
            <button type="button" class="btn btn-primary btn-sm"><a style="color:#fff; text-decoration: none;" href="{{ path("fos_user_registration_register") }}">無料で会員登録をする</button>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}