{% extends "base.html.twig" %}

{% block head %}
   <title>video-bloggerトップ</title>
   <meta name="description" content="video-bloggerは今話題のvlogをYouTubeの動画からまとめたサイトです。yutuberやvlogger達の動画をメインにまとめています。">
   <link rel="canonical" href="{{ absolute_url(path('default_index')) }}">
{% endblock %}

{% block stylesheet %}
   {{ parent() }}
   <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}

{% block main %}
   <div class="top-MainVisual">
      <div class="top-MainVisual_Catch">
         <p>{{ total }}件以上のvlog動画、vlogger探すならvideo-blogger.com!!</p>
      </div>
      <div class="top-MainVisual-Content">
         <div class="top-MainVisual_Video">
            <div class="top-MainVisual_VideoInner">
               {% include 'parts/visual_post.html.twig' %}
            </div>
         </div>
      </div>
   </div>

{% include 'parts/category_list.html.twig' %}
{# {% include 'parts/top_post.html.twig' %} #}
<div class="sw-Content_Inner sw-Content_PaddingLg">
   <section class="sw-Section">
      {% include 'parts/new_post.html.twig' %}
      {% include 'parts/category_post.html.twig' %}
   </section>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}