{% extends "base.html.twig" %}

{% block head %}
   <title>video-bloggerトップ</title>
   <meta name="description" content="video-bloggerは今話題のvlogをYouTubeの動画からまとめたサイトです。yutuberやvlogger達の動画をメインにまとめています。">
   <link rel="canonical" href="{{ absolute_url(path('default_index')) }}">
{% endblock %}

{% block stylesheet %}
   {{ parent() }}
   <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}

{% block main %}
{% include 'parts/top_post.html.twig' %}
<div class="sw-Content_Inner sw-Content_PaddingLg">
   <section class="sw-Section">
      {% include 'parts/new_post.html.twig' %}
      {% include 'parts/category_post.html.twig' %}
   </section>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}