{% extends 'admin/base.html.twig' %}

{% block title %}イベント編集 | {{ admin_name }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">イベント編集</li>
 {% endblock %}


{% block content %}
    <h1>Edit MyEvent</h1>

    {{ include('admin/my_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_my_event_index') }}">back to list</a>

    {{ include('admin/my_event/_delete_form.html.twig') }}
{% endblock %}
