{% extends 'admin/base.html.twig' %}

{% block title %}カテゴリ作成 | Vlogger管理{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">カテゴリ作成</li>
 {% endblock %}

{% block content %}
    <div class="sw-Admin_ContentHeader">
    <h1>カテゴリー新規作成</h1>
    </div>

    {{ include('admin/category/_form.html.twig') }}

{% endblock %}
