{% extends "my_page/base.html.twig" %}


{% block title %}マイページトップ｜オミパリマイページ{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
<div class="sw-Contnet_Inner sw-Content_PaddingMypage">
    <section class="sw-Section">
        <div class="mypage-Content">
            <div class="mypage-Content_Inner">
                
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}