{% extends "/my_page/base.html.twig" %}

{% block title %}マイページトップ｜オミパリマイページ{% endblock %}
{% block description %}{% endblock %}


{% block main %}
<div class="sw-Contnet_Inner sw-Content_PaddingMypage">
<section class="sw-Section">
    <div class="mypage-Content">
        <div class="mypage-Content_Inner">
            <div class="">
            {# <div class="">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#applied" class="nav-link active" data-toggle="tab">あ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#accepted" class="nav-link" data-toggle="tab">い</a>
                    </li>
                    <li class="nav-item">
                        <a href="#past_event" class="nav-link" data-toggle="tab">う</a>
                    </li>
                </ul>
                <div class="tab-content">
                <div id="applied" class="tab-pane active">
                </div>
                <div id="accepted" class="tab-pane">
                </div>
                <div id="past_event" class="tab-pane">
                </div>
                </div>    
            </div> #}
            {% dump(favorite) %}
            {{ post.id }}
        </div>
    </div>
</section>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}