$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-image-hover: #ffd08c;

$color__text-screen: #58595B;
$color__text-input: #666;
$color__text-input-focus: #111;
//$color__link: royalblue;
//$color__link-visited: #fff;
//$color__link-hover: midnightblue;
$color__text-main: #404040;

//$color__border-button: #ccc #ccc #bbb;
//$color__border-button-hover: #ccc #bbb #aaa;
//$color__border-button-focus: #aaa #bbb #bbb;
$color__border-button: #bbb;
$color__border-button-hover: #bbb;
$color__border-button-focus: #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__shadow: #c3c3c3;

$color__citron_green: #7dab21;
$color__orange: #ff7b2b;
$color__light-gray: #fafafa;
$color__dark-salmon: #bf5b57;
$color__poppy_red: #E73656;
$color__red: #e60012;
$color__favarite: lighten(#a53a85, 10);