{% extends 'base.html.twig' %}

{% block title %}Edit MyEventSchedule{% endblock %}

{% block body %}
    <h1>Edit MyEventSchedule</h1>

    {{ include('my_event_schedule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_event_schedule_index') }}">back to list</a>

    {{ include('my_event_schedule/_delete_form.html.twig') }}
{% endblock %}
