{% extends 'base.html.twig' %}

{% block title %}New MyEventSchedule{% endblock %}

{% block body %}
    <h1>Create new MyEventSchedule</h1>

    {{ include('my_event_schedule/_form.html.twig') }}

    <a href="{{ path('my_event_schedule_index') }}">back to list</a>
{% endblock %}
