{% extends 'admin/base.html.twig' %}

{% block title %}タグ作成 | {{ admin_name }}{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item active">タグ作成</li>
 {% endblock %}

{% block content %}
    <h1>タグ作成</h1>

    {{ include('admin/tag/_form.html.twig') }}

    <a href="{{ path('admin_tag_index') }}">back to list</a>
{% endblock %}
