{% extends "my_page/profile-base.html.twig" %}

{% block fos_user_content %}
<div class=" mypage-Login">
    <h1 class="mypage-Login_Title">パスワード変更</h1>
    <div class="mypage-Login_Form">
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
